@model LojaNet.Models.Produto

@{
    ViewData["Title"] = "Excluir";
}

<h2>Excluir</h2>
<hr />
<h4>Confirma a EXCLUSÃO deste Produto?</h4>

<p class="font-weight-bold">@Model.Nome</p>


<form method="post">
    <input type="hidden" name="id" value="@Model.Id" />
    <hr />
    <a href="@Url.Action("Index", "Produto")" class="btn btn-voltar">Voltar</a>
    <input type="submit" value="Excluir" class="btn btn-danger" />
</form>

